<div>
  <card title="My flights" subTitle="Everything I have booked so far"
        text="Contains a list of all outstanding and absolved flights including their departure and arrival time."
        imageUrl="https://static01.nyt.com/images/2021/02/26/travel/26United-plane-explainer1/26United-plane-explainer1-mediumSquareAt3X.jpg"></card>
  <card title="Flight search" subTitle="If I want to go somewhere"
        text="Contains search and filter functionalities in order to find the optimal flight"
        imageUrl="https://ichef.bbci.co.uk/news/976/cpsprodpb/1589A/production/_123281288_gettyimages-1197444137.jpg"></card>
</div>
