<mat-card cardElevation>
  <mat-card-title>
    Input your desired data
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="search">
      <mat-form-field appearance="outline">
        <mat-label>From where?</mat-label>
        <input [matAutocomplete]="arr"
               formControlName="departureAirport"
               matInput
               type="text">
        <mat-autocomplete #arr="matAutocomplete">
          <mat-option *ngFor="let airport of filteredDepartureAirports | async"
                      [value]="airportToString(airport)">{{airportToString(airport)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To where?</mat-label>
        <input [matAutocomplete]="dep"
               formControlName="arrivalAirport"
               matInput
               type="text">
        <mat-autocomplete #dep="matAutocomplete">
          <mat-option *ngFor="let airport of filteredArrivalAirports | async"
                      [value]="airportToString(airport)">{{airportToString(airport)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>From date</mat-label>
        <input [matDatepicker]="fromDate" formControlName="fromDate" matInput>
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle [for]="fromDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To date</mat-label>
        <input [matDatepicker]="toDate" formControlName="toDate" matInput>
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle [for]="toDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
      <div class="button">
        <button (click)="executeSearch()" mat-button type="submit">Search</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<app-flight-card *ngFor="let flight of flights; trackBy: track" [flight]="flight"></app-flight-card>
